@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");
* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  font-family: "gilroy-bold";
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container h1 {
  margin: auto;
}
.container__header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.container__header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 80px;
}
.container__header ul li a {
  color: black;
  transition: font-size 0.3s, text-decoration 0.3s;
}
.container__header ul li a:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}
.container__header a {
  text-decoration: none;
}
.container__main {
  background-color: rgba(192, 192, 192, 0.8);
  flex: 1;
  padding-top: 80px;
}
.container__main a {
  text-decoration: none;
}
.container__main__logo {
  margin-top: -37px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container__footer {
  background-color: rgba(128, 128, 128, 0.8);
  padding: 16px;
  text-align: center;
}
.container__footer h1 {
  margin-bottom: 16px;
}
.container__footer .footer__contact p {
  margin: 0;
}
.container__footer .footer__contact p a {
  color: #007bff;
  text-decoration: none;
}
.container__footer .footer__contact p a:hover {
  text-decoration: underline;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  transition: box-shadow 0.3s, transform 0.3s;
}
.card__image {
  height: 200px;
  width: 200px;
  padding: 8px;
  margin-right: 200px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 16px;
  object-fit: scale-down;
}
.card__title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}
.card__description {
  font-size: 1rem;
  color: #333;
}
.card__content {
  font-size: 1rem;
  color: #333;
}
.card button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
  order: 1;
  margin-left: auto;
  margin-right: 200px;
  transition: background-color 0.3s, transform 0.3s;
}
.card button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.card button:active {
  background-color: #004494;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  margin-top: 20%;
}

.article-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s, transform 0.3s;
}
.article-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
.article-card__content__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.article-card__content__description {
  font-size: 1rem;
  color: #333;
  margin-bottom: 16px;
}
.article-card__content__image {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
}
.article-card__content__price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 16px;
}
.article-card__button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.article-card__button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.article-card__button:active {
  background-color: #004494;
}
.article-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px;
}

.burger-section {
  height: 100%;
  width: 100%;
}
.burger-section ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: solid grey 10px;
  padding: 0;
  margin: 0;
  height: 95%;
  width: 50%;
  right: 0;
}
.burger-section__button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.burger-section__button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.burger-section__button:active {
  background-color: #004494;
}
.burger-section__content {
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  height: 86.5%;
  margin-top: 1.7%;
  width: 100%;
  right: 0;
  background-color: rgba(128, 128, 128, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
}

/*# sourceMappingURL=index.css.map */
