@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");
* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  font-family: "gilroy-bold";
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container__header {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s;
  backdrop-filter: blur(10px);
}
.container__header:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.container__header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 80px;
}
.container__header ul li {
  cursor: pointer;
  color: black;
  transition: font-size 0.3s, text-decoration 0.3s;
}
.container__header ul li:hover {
  font-size: 1.1rem;
}
.container__header a {
  text-decoration: none;
}
.container__main {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  flex: 1;
  padding-top: 3%;
}
.container__main a {
  text-decoration: none;
}
.container__footer {
  background: linear-gradient(90deg, #d4b3ff 0%, #3e47a8 100%);
  padding: 16px;
  text-align: center;
}
.container__footer h1 {
  margin-bottom: 16px;
}
.container__footer .footer__contact p {
  margin: 0;
}
.container__footer .footer__contact p a {
  color: rgba(102, 204, 255, 0.8);
  text-decoration: none;
}
.container__footer .footer__contact p a:hover {
  text-decoration: underline;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.card {
  height: 18vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}
.card__image {
  height: 100%;
  padding: 8px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: scale-down;
}
.card__title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}
.card__description {
  font-size: 1rem;
  color: #333;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1rem;
  color: #333;
  flex-grow: 3;
}
.card button {
  background-color: rgba(0, 123, 255, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  order: 1;
  transition: background-color 0.3s, transform 0.3s;
}
.card button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.card button:active {
  background-color: #004494;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  margin-top: 2%;
  margin-bottom: 10%;
  scroll-margin-top: 100px;
}
.call-to-action h1 {
  font-size: 2rem;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.call-to-action p {
  font-size: 1rem;
  margin-bottom: 16px;
}

.article-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s, transform 0.3s;
}
.article-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
.article-card__content__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.article-card__content__description {
  font-size: 1rem;
  color: #333;
  margin-bottom: 16px;
}
.article-card__content__image {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
}
.article-card__content__price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 16px;
}
.article-card__button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.article-card__button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.article-card__button:active {
  background-color: #004494;
}
.article-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px;
}

.burger-section {
  height: 100%;
  width: 100%;
}
.burger-section ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: solid grey 10px;
  padding: 0;
  margin: 0;
  height: 95%;
  width: 50%;
  right: 0;
}
.burger-section__button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.burger-section__button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.burger-section__button:active {
  background-color: #004494;
}
.burger-section__content {
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  height: 86.5%;
  margin-top: 1.7%;
  width: 100%;
  right: 0;
  background-color: rgba(128, 128, 128, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
}

.transition__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10%;
}
.transition__section h2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  margin-bottom: 16px;
}
.transition__section p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  margin-bottom: 16px;
  padding: 20px;
}
.transition__section--container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  text-align: center;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.transition__section--image {
  height: 50%;
  width: 20%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  transform-origin: center;
  position: absolute;
  top: 30%;
}
.transition__section--image1 {
  left: -2%;
  transform: rotate(10deg);
}
.transition__section--image2 {
  right: -2%;
  transform: rotate(-10deg);
}

#reparation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: linear-gradient(90deg, rgba(255, 236, 210, 0.8) 0%, rgba(252, 182, 159, 0.8) 100%);
  padding: 20px;
  transition: background 0.3s;
}
#reparation:hover {
  background: linear-gradient(90deg, rgb(255, 236, 210) 0%, rgb(252, 182, 159) 100%);
}
#reparation h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}
#reparation p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
}
#reparation h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}
#reparation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 600px;
}
#reparation ul li {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}
#reparation ul li strong {
  color: #333;
}

#cours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: linear-gradient(90deg, rgba(210, 255, 236, 0.8) 0%, rgba(159, 252, 182, 0.8) 100%);
  padding: 20px;
  transition: background 0.3s;
}
#cours:hover {
  background: linear-gradient(90deg, rgb(210, 255, 236) 0%, rgb(159, 252, 182) 100%);
}
#cours h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}
#cours p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
}
#cours h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}
#cours ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 600px;
}
#cours ul li {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}
#cours ul li strong {
  color: #333;
}

/*# sourceMappingURL=index.css.map */
