@use '../../components/shared/searchbar/SearchBar.scss';

@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880');

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
#root {
  height: 100%;
}
html,
body {
  height: 100%;
  font-family: 'gilroy-bold';
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
    backdrop-filter: blur(10px);

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      height: 80px;
      li {
        cursor: pointer;
        color: black;
        transition:
          font-size 0.3s,
          text-decoration 0.3s;

        &:hover {
          font-size: 1.1rem;
        }
      }
    }
    // remove underline in listed items
    a {
      text-decoration: none;
    }
  }

  &__main {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    flex: 1;
    padding-top: 3%; // Add padding to create space below the header
    a {
      text-decoration: none;
    }
  }

  &__footer {
    background: linear-gradient(90deg, #d4b3ff 0%, #3e47a8 100%);
    padding: 16px;
    text-align: center;
    h1 {
      margin-bottom: 16px;
    }
    .footer__contact {
      p {
        margin: 0;
        a {
          color: rgba(102, 204, 255, 0.8);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.card {
  height: 18vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition:
    box-shadow 0.3s,
    transform 0.3s;

  &__image {
    height: 100%;
    padding: 8px;
    border-radius: 15px;
    overflow: hidden;
    object-fit: scale-down;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 1rem;
    color: #333;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1rem;
    color: #333;
    flex-grow: 3;
  }
  button {
    background-color: rgba(0, 123, 255, 0.5);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    order: 1;
    transition:
      background-color 0.3s,
      transform 0.3s;

    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }

    &:active {
      background-color: #004494;
    }
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  margin-top: 2%;
  margin-bottom: 10%;
  scroll-margin-top: 100px;
  h1 {
    font-size: 2rem;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.6); // Darker color for better readability
  }

  p {
    font-size: 1rem;
    margin-bottom: 16px;
  }
}

.article-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  transition:
    box-shadow 0.3s,
    transform 0.3s;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;

    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 8px;
    }

    &__description {
      font-size: 1rem;
      color: #333;
      margin-bottom: 16px;
    }

    &__image {
      height: 200px;
      width: 200px;
      border-radius: 8px;
      margin-bottom: 16px;
      object-fit: cover;
    }

    &__price {
      font-size: 1.25rem;
      font-weight: bold;
      color: #007bff;
      margin-bottom: 16px;
    }
  }

  &__button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.3s;

    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }

    &:active {
      background-color: #004494;
    }
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px;
}

.burger-section {
  height: 100%;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: solid grey 10px;
    padding: 0;
    margin: 0;
    height: 95%;
    width: 50%;
    right: 0;
  }
  &__button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.3s;

    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }

    &:active {
      background-color: #004494;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    height: 86.5%;
    margin-top: 1.7%;
    width: 100%;
    right: 0;
    background-color: rgba(128, 128, 128, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
  }
}

.transition__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  position: relative;
  overflow: hidden; // Ensures that child elements don't extend beyond this section
  width: 100%; // Makes sure it covers the entire width
  margin-bottom: 10%;

  h2 {
    color: rgba(255, 255, 255, 0.6); // Darker color for better readability
    font-size: 2rem;
    margin-bottom: 16px;
  }

  p {
    color: rgba(255, 255, 255, 0.6); // Darker color for better readability
    font-size: 1.4rem;
    margin-bottom: 16px;
    padding: 20px;
  }

  &--container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    text-align: center;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.3); // Glass effect border
    background-color: rgba(255, 255, 255, 0.1); // Glass effect background
    backdrop-filter: blur(
      10px
    ); // Optional: adds a blur effect for a more pronounced glass effect
  }

  &--image {
    height: 50%;
    width: 20%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.3); // Glass effect border
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); // Glass effect shadow
    border-radius: 20px;
    transform-origin: center;
    position: absolute; // Allows it to move freely without affecting layout
    top: 30%;
    &1 {
      left: -2%; // Moves it partially off-screen
      transform: rotate(10deg);
    }

    &2 {
      right: -2%; // Moves it partially off-screen
      transform: rotate(-10deg);
    }
  }
}

#reparation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: linear-gradient(
    90deg,
    rgba(255, 236, 210, 0.8) 0%,
    rgba(252, 182, 159, 0.8) 100%
  );
  padding: 20px;
  transition: background 0.3s;

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(255, 236, 210, 1) 0%,
      rgba(252, 182, 159, 1) 100%
    );
  }

  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
  }

  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;

    li {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 10px;
      text-align: left;

      strong {
        color: #333;
      }
    }
  }
}

#cours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: linear-gradient(
    90deg,
    rgba(210, 255, 236, 0.8) 0%,
    rgba(159, 252, 182, 0.8) 100%
  );
  padding: 20px;
  transition: background 0.3s;

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(210, 255, 236, 1) 0%,
      rgba(159, 252, 182, 1) 100%
    );
  }

  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
  }

  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;

    li {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 10px;
      text-align: left;

      strong {
        color: #333;
      }
    }
  }
}
// .carrousel {
//   display: flex;
//   overflow: hidden;
//   position: relative;
//   width: 100%;
//   height: 300px;

//   &__track {
//     display: flex;
//     transition: transform 0.5s ease;
//   }

//   &__slide {
//     min-width: 100%;
//     transition: transform 0.5s ease;

//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   &__nav {
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     transform: translateY(-50%);

//     button {
//       background-color: rgba(0, 0, 0, 0.5);
//       border: none;
//       color: white;
//       cursor: pointer;
//       padding: 8px;
//       transition: background-color 0.3s;

//       &:hover {
//         background-color: rgba(0, 0, 0, 0.7);
//       }
//     }
//   }
// }
